---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Clínica Rebeca">

    <!-- <head> -->
        <!-- @@include("partials/title-meta.html", {"title": "Techwind"}) -->

        <!-- Css -->
        <!-- @@include("partials/head-css.html") -->
    <!-- </head> -->

        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        
        <!-- @@include("partials/navbar/nav-center-light.html") -->
        <Menu />

        <!-- Start Hero -->
        <section class="relative table w-full py-36 bg-[url('../../assets/images/rebeca6.webp')] bg-center bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-black opacity-80"></div>
            <div class="container">
                <div class="grid grid-cols-1 pb-8 text-center mt-10">
                    <h3 class="mb-6 md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">Rebeca Gil Liarte<br>Centro de Psicología</h3>

<!--                    <div class="text-center subcribe-form mt-4 pt-2">-->
<!--                        <form class="relative mx-auto max-w-xl">-->
<!--                            <input type="text" id="help" name="name" class="pt-4 pr-40 pb-4 pl-6 w-full h-[50px] outline-none text-black dark:text-white rounded-full bg-white opacity-70 dark:bg-slate-900 border border-gray-100 dark:border-gray-700" placeholder="Search your questions or topic...">-->
<!--                            <button type="submit" class="btn absolute top-[2px] right-[3px] h-[46px] bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-full">Search</button>-->
<!--                        </form>&lt;!&ndash;end form&ndash;&gt;-->
<!--                    </div>-->
                </div><!--end grid-->
            </div><!--end container-->
            
            <div class="absolute text-center z-10 bottom-5 right-0 left-0 mx-3">
                <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
                    <li class="inline breadcrumb-item uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"><a href="index.html">Clínica</a></li>
                    <li class="inline breadcrumb-item uppercase text-[13px] font-bold duration-500 ease-in-out text-white" aria-current="page">Inicio</li>
                </ul>
            </div>
        </section><!--end section-->
        <div class="relative">
            <div class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
                <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#f6f6f6"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Encuentra la ayuda que necesitas</h3>

                    <p class="text-slate-500 max-w-xl mx-auto">Cuento con mucha experiencia en <strong>psicología sanitaria</strong>.</p>
                    <p class="text-slate-500 max-w-xl mx-auto">Consultas tanto online como presenciales.</p>

                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-6 gap-[30px]">
                    <div class="text-center px-6 mt-6">
                        <div class="w-20 h-20 bg-indigo-600/5 text-indigo-600 rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                            <i class="uil uil-question-circle"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="/acerca-de/" class="title h5 text-lg font-medium hover:text-indigo-600">¿Quién soy?</a>
                            <p class="text-slate-500 mt-3">Descubre quién soy. Te explico mi experiencia y las áreas en las que estoy formada.</p>
                            
                            <div class="mt-5">
                                <a href="/acerca-de/" class="btn btn-link text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Sobre mí <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center px-6 mt-6">
                        <div class="w-20 h-20 bg-indigo-600/5 text-indigo-600 rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                            <i class="uil uil-file-bookmark-alt"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="/servicios/" class="title h5 text-lg font-medium hover:text-indigo-600">¿Qué hago?</a>
                            <p class="text-slate-500 mt-3">Me especializo en trastornos de la infancia y la adolescencia, como
                                <abbr title="Trastorno Obsesivo Compulsivo">TOC</abbr>,
                                <abbr title="Trastorno por Déficit de Atención e Hiperactividad">TDAH</abbr>,
                                <abbr title="Trastorno de Aprendizaje no Verbal">TANV</abbr>,
                                <abbr title="Trastornos de la Conducta Alimentaria">TCA</abbr>, etc.

                            <div class="mt-5">
                                <a href="/servicios/" class="btn btn-link text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">
                                    Servicios <i class="uil uil-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center px-6 mt-6">
                        <div class="w-20 h-20 bg-indigo-600/5 text-indigo-600 rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                            <i class="uil uil-cog"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="/contacto/" class="title h5 text-lg font-medium hover:text-indigo-600">¿Dónde estoy?</a>
                            <p class="text-slate-500 mt-3">Mi clínica de psicología médica está situada en A Coruña, en la calle Payo Gómez 16, 5ºB.
                            </p>


                            <div class="mt-5">
                                <a href="/contacto/" class="btn btn-link text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Contacto <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Servicios del centro</h3>

                    <p class="text-slate-500 max-w-xl mx-auto">Psicología general sanitaria</p>
                </div><!--end grid-->

                <div class="grid md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="flex">
                        <i data-feather="help-circle" class="fea icon-ex-md text-indigo-600 mr-3"></i>
                        <div class="flex-1">
                            <h5 class="mb-2 text-xl font-semibold">Experiencia en  <span class="text-indigo-600">psicología</span></h5>
                            <p class="text-slate-500">
                                En este momento, ponemos nuestros conocimientos y experiencia a vuestra disposición a la hora de intervenir sobre todos los aspectos en los que puede estar afectando el Covid 19, los principales problemas que estamos observando en consulta son ansiedad, trastorno obsesivo compulsivo, problemas de comunicación en pareja o familia, gestión de la soledad, trastornos del sueño…
                            </p>
                        </div>
                    </div>
                    
                    <div class="flex">
                        <i data-feather="help-circle" class="fea icon-ex-md text-indigo-600 mr-3"></i>
                        <div class="flex-1">
                            <h5 class="mb-2 text-xl font-semibold">Terapia</h5>
                            <p class="text-slate-500">
                                Comenzar una terapia es un acto inteligente y valiente; supone dar el paso de reconocer y aprender mejorar aquellas áreas que no te están permitiendo disfrutar de tu vida. Muchas veces no se trata de cambiar lo que hay en tu vida sino tu actitud ante la misma. Pedir ayuda no es fácil, por eso es importante elegir un psicólogo con quien te encuentres cómodo, entendido y que te proporcione herramientas.
                            </p>
                        </div>
                    </div>
                    
                    <div class="flex">
                        <i data-feather="help-circle" class="fea icon-ex-md text-indigo-600 mr-3"></i>
                        <div class="flex-1">
                            <h5 class="mb-2 text-xl font-semibold"> ¿Cómo trabajo?</h5>
                            <p class="text-slate-500">
                                La forma de trabajo es sencilla: En una primera consulta, comentaremos la situación que te genera malestar y como la manejas, contemplaremos qué variables han afectado y valoraremos las habilidades necesarias para la evolución. En función de esta información comentaremos cómo abordaremos el problema.
                            </p>
                        </div>
                    </div>
                    
                    <div class="flex">
                        <i data-feather="help-circle" class="fea icon-ex-md text-indigo-600 mr-3"></i>
                        <div class="flex-1">
                            <h5 class="mb-2 text-xl font-semibold"> Terapia <span class="text-indigo-600">cognitivo conductual</span></h5>
                            <p class="text-slate-500">La terapia cognitivo conductual es una intervención corta y práctica, el pasado del paciente es importante pero se basa en dar solución hoy. La terapia cognitivo conductual es científica, basada en rigurosos métodos experimentales, con un alto porcentaje de éxito.</p>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container md:mt-24 mt-16">
                <div class="grid grid-cols-1 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">¿Tienes alguna consulta?</h3>

                    <p class="text-slate-500 max-w-xl mx-auto">Si tienes cualquier duda sobre psicología sanitaria, quieres solicitar una cita o cualquier otra necesidad.</p>
                
                    <div class="mt-6">
                        <a href="/contacto/" class="btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md mr-2 mt-2"><!--<i class="uil uil-phone"></i>--> Contacta conmigo</a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Section-->
        <Footer />


        <!-- @@include("partials/footer/footer.html") -->

        <!-- @@include("partials/cookies.html") -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 right-5 h-9 w-9 text-center bg-indigo-600 text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        <!-- @@include("partials/switcher.html") -->

        <!-- JAVASCRIPTS -->
        <!-- <script src="/assets/libs/feather-icons/feather.min.js" is:inline></script>
        @@include("partials/script-file.html") -->
        <!-- JAVASCRIPTS -->
</Layout>