<!-- Footer Start -->
<footer class='footer bg-dark-footer relative text-gray-200 dark:text-gray-200'>
  <div class='container'>
    <div class='grid grid-cols-12'>
      <div class='col-span-12'>
        <div class='py-[60px] px-0'>
          <div class='grid md:grid-cols-12 grid-cols-1 gap-[30px]'>
            <div class='lg:col-span-6 md:col-span-12'>
              <a
                href='/'
                class='text-[22px] focus:outline-none'>
                <img
                  src='/assets/images/logo_rebeca_blanco.svg'
                  alt='Clínica psicológica Rebeca Gil Liarte'
                  class="w-48"
                />
              </a>
              <p class='mt-6 text-gray-300'>
                Registro sanitario C-15-004433.
              </p>     
			  <ul>                       
               
                <li class='inline'>
                  <a
                    href='https://www.linkedin.com/in/rebeca-gil-liarte-753b40a0/'
                    target='_blank'
                    class='btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600'
                    ><i
                      class='uil uil-linkedin'
                      title='Linkedin'
                    ></i>
                  </a>
                </li>
<!--                <li class='inline'>-->
<!--                  <a-->
<!--                    href='https://www.facebook.com/shreethemes'-->
<!--                    target='_blank'-->
<!--                    class='btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600'-->
<!--                    ><i-->
<!--                      class='uil uil-facebook-f align-middle'-->
<!--                      title='facebook'-->
<!--                    ></i>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class='inline'>-->
<!--                  <a-->
<!--                    href='https://www.instagram.com/shreethemes/'-->
<!--                    target='_blank'-->
<!--                    class='btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600'-->
<!--                    ><i-->
<!--                      class='uil uil-instagram align-middle'-->
<!--                      title='instagram'-->
<!--                    ></i>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class='inline'>-->
<!--                  <a-->
<!--                    href='https://twitter.com/shreethemes'-->
<!--                    target='_blank'-->
<!--                    class='btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600'-->
<!--                    ><i-->
<!--                      class='uil uil-twitter align-middle'-->
<!--                      title='twitter'-->
<!--                    ></i>-->
<!--                  </a>-->
<!--                </li>-->
                <li class='inline'>
                  <a
                    href='mailto:clinica@rebecagil.com'
                    class='btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600'
                    ><i
                      class='uil uil-envelope align-middle'
                      title='email'
                    ></i>
                  </a>
                </li>
                
              </ul><!--end icon-->
            </div><!--end col-->

            <div class='lg:col-span-3 md:col-span-6'>
              <h5 class='tracking-[1px] text-gray-100 font-semibold'>
                Clínica
              </h5>
              <ul class='list-none footer-list mt-6'>
                <li>
                  <a
                    href='/sobre-mi/'
                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'
                    ><i class='uil uil-angle-right-b me-1'></i> Sobre mí</a>
                </li>
                <li class='mt-[10px]'>
                  <a
                          href='/servicios/'
                          class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'
                  ><i class='uil uil-angle-right-b me-1'></i> Servicios</a>
                </li>
<!--                <li class='mt-[10px]'>-->
<!--                  <a-->
<!--                    href='page-services.html'-->
<!--                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'-->
<!--                    ><i class='uil uil-angle-right-b me-1'></i> Servicios</a>-->
<!--                </li>-->
<!--                <li class='mt-[10px]'>-->
<!--                  <a-->
<!--                    href='#'-->
<!--                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'-->
<!--                    ><i class='uil uil-angle-right-b me-1'></i> Equipo</a>-->
<!--                </li>-->
                <li class='mt-[10px]'>
                  <a
                    href='/contacto/'
                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'
                    ><i class='uil uil-angle-right-b me-1'></i> Contacto</a>
                </li>                
              </ul>
            </div><!--end col-->

            <div class='lg:col-span-3 md:col-span-6'>
              <h5 class='tracking-[1px] text-gray-100 font-semibold'>
                Links
              </h5>
              <ul class='list-none footer-list mt-6'>
                <li>
                  <a
                    href='/aviso-legal/'
                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'
                    ><i class='uil uil-angle-right-b me-1'></i> Aviso Legal</a>
                </li>
                <li class='mt-[10px]'>
                  <a
                    href='/politica-privacidad/'
                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'
                    ><i class='uil uil-angle-right-b me-1'></i> Política de privacidad</a>
                </li>
<!--                <li class='mt-[10px]'>-->
<!--                  <a-->
<!--                    href='documentation.html'-->
<!--                    class='text-gray-300 hover:text-gray-400 duration-500 ease-in-out'-->
<!--                    ><i class='uil uil-angle-right-b me-1'></i> Documentación</a>-->
<!--                </li>               -->
              </ul>
            </div><!--end col-->

<!--            <div class='lg:col-span-3 md:col-span-4'>-->
<!--              <h5 class='tracking-[1px] text-gray-100 font-semibold'>-->
<!--                Contacto-->
<!--              </h5>-->
<!--              <p class='mt-6'>Mándame tu email y te respondo.</p>-->
<!--              <form>-->
<!--                <div class='grid grid-cols-1'>-->
<!--                  <div class='foot-subscribe my-3'>-->
<!--                    <label class='form-label'-->
<!--                      >Email <span class='text-red-600'>*</span>-->
<!--                    </label>-->
<!--                    <div class='form-icon relative mt-2'>-->
<!--                      <i-->
<!--                        data-feather='mail'-->
<!--                        class='w-4 h-4 absolute top-3 left-4'-->
<!--                      ></i>-->
<!--                      <input-->
<!--                        type='email'-->
<!--                        class='form-input bg-gray-800 border border-gray-800 text-gray-100 pl-12 focus:shadow-none'-->
<!--                        placeholder='Email'-->
<!--                        name='email'-->
<!--                        required=''-->
<!--                      />-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <button-->
<!--                    type='submit'-->
<!--                    id='submitsubscribe'-->
<!--                    name='send'-->
<!--                    class='btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md'-->
<!--                    >Enviar</button-->
<!--                  >-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>&lt;!&ndash;end col&ndash;&gt;-->
          </div><!--end grid-->
        </div><!--end col-->
      </div>
    </div><!--end grid-->
  </div><!--end container-->

  <div class='py-[30px] px-0 border-t border-slate-800'>
    <div class='container text-center'>
      <div class=''>
        <div class='text-center'>
          <p class='mb-0'>
            © <script>
              document.write(new Date().getFullYear().toString());
            </script> Clínica Rebeca gil Liarte. Design with <i
              class='mdi mdi-heart text-red-600'></i> by <a
              href='https://www.galicloud.com'
              target='_blank'
              class='text-reset'
              >Galicloud</a
            >.
          </p>
        </div>

        <!-- <ul class="list-none md:text-right text-center mt-6 md:mt-0">
                    <li class="inline"><a href=""><img src="/assets/images/payments/american-ex.png" class="max-h-6 inline" title="American Express" alt=""></a></li>
                    <li class="inline"><a href=""><img src="/assets/images/payments/discover.png" class="max-h-6 inline" title="Discover" alt=""></a></li>
                    <li class="inline"><a href=""><img src="/assets/images/payments/master-card.png" class="max-h-6 inline" title="Master Card" alt=""></a></li>
                    <li class="inline"><a href=""><img src="/assets/images/payments/paypal.png" class="max-h-6 inline" title="Paypal" alt=""></a></li>
                    <li class="inline"><a href=""><img src="/assets/images/payments/visa.png" class="max-h-6 inline" title="Visa" alt=""></a></li>
                </ul> -->
      </div><!--end grid-->
    </div><!--end container-->
  </div>
</footer><!--end footer-->
<!-- Footer End -->
